.column2.override {
  background-color: #8BC34A;
}

.column3.override {
  background-color: #03A9F4;
  color: white;
}

.column {
  background-color: #03A9F4;
  color: white;
}

.fixIconbuttonHeight {
  width: 56px;
}
